html {
    background: linear-gradient(to bottom right, #cc99ff 25%, #6600cc 95%);
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

body {
    margin-left: 10px;
    font-family: Calibri, Serif;
    font-weight: normal;
    font-style: normal;
    font-weight: 500;
    height: 100%;
    width: 100%;
}

h1 {
    margin: 0px;
    font-size: 60px;
    text-decoration-line: underline;
    font-weight: 360;
    padding-left: 30px;
}

h1::after {
    content: "";
    border-bottom: black 1px solid;
}

.icon {
    padding-top: 7px;
}

.search-options-column {
    float: left;
    width: 23%;
    border-right: 5px solid black;
    padding-left: 30px;
}

.search-options-column.last {
    border-right: none;
}

.search-options-column>p {
    margin: 0px;
}

.search-options-row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    padding-top: 25px;
}

.cocktail-wrapper {
    background-color: #171a1c;
    margin: 30px;
    width: 1200px;
    height: 500px;
    padding: 10px;
    display: block;
    border: burlywood 20px groove
}

.cocktail-wrapper img {
    max-width: 270px;
    max-height: 270px;
    border: peachpuff 5px dashed;
}

.cocktail-wrapper p {
    color: pink;
    font-size: 30px;
}

.cocktail-wrapper .error {
    color: pink;
    font-size: 30px;
    margin-top: 0px;
    margin-left: 10px;
}

.cocktail-wrapper p>span {
    color: white;
    font-size: 20px;
    white-space: pre-line;
    max-height: 400px;
}

.cocktail-wrapper-row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
}

.cocktail-wrapper-column1 {
    float: left;
    width: 23%;
    padding-left: 10px;
}

.cocktail-wrapper-column1 .title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.cocktail-wrapper-row.tags {
    content: "";
    display: table;
    clear: both;
    padding-top: 5px;
    width: 100%;
}
.cocktail-wrapper-row.tags p{
    font-size: 15px;
    text-align: center;
    color: wheat;
}

.cocktail-wrapper-column1.tags {
    float: right;
    width: 13%;
    margin-left:5px;
    margin-right:5px;
    border:peachpuff dashed 2px;
    padding:0px
}

.cocktail-wrapper-column2 {
    float: left;
    width: 40%;
    padding-left: 100px;
    max-height: 400px;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    overflow-y: scroll;
}

.cocktail-wrapper-column2.ingredients{
    float: left;
    width: 20%;
    padding-left: 50px;
}

.cocktail-wrapper-column2::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}